.repo {
  color: #ddd;
  width: 90vw;
  max-width: 1000px;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* background-color: aqua; */
}

.repoName {
  font-size: 2rem;
  font-weight: 600;
  width: 100%;
  word-break: break-all;
  margin: 1rem auto 1rem auto;
  color: #ddd;
}

.repoName a {
  color: #ddd;
}

.repoName a:hover {
  color: #fff;
}

.bar {
  width: 100%;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem auto;
  cursor: default;
}

.backToRepos {
  color: #ddd;
  width: 100%;
  font-size: 2rem;
  font-weight: 600;
}

.backToRepos:hover {
  color: #fff;
}

.content {
  width: 100%;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5rem 0;
  border-bottom: #6e7681 1px solid;
  cursor: default;
}

.content i {
  font-size: 1.2rem;
  margin: auto 10px;
}

.errorMessage {
  color: #ddd;
  font-size: 2rem;
  text-transform: uppercase;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .repoName {
    font-size: 2rem;
  }
}

@media (max-width: 576px) {
  .content {
    font-size: 1.2rem;
  }
  .content i {
    font-size: 1rem;
  }
}
