.headerBar {
  font-weight: 600;
  color: #ddd;
  font-size: 5rem;
  margin: auto;
  width: fit-content;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  cursor: default;
}

.repoList {
  margin: 1rem 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.repoBox {
  color: #ddd;
  display: flex;
  font-size: 1rem;
  justify-content: center;
  width: 100vw;
  cursor: default;
}

.repoBox h1:hover {
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}

.repoFooter {
  color: #ddd;
  font-size: 0.3rem;
  opacity: 0.3;
  margin-top: 2rem;
}

.errorMessage {
  color: #ddd;
  font-size: 2rem;
  text-transform: uppercase;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .headerBar {
    font-size: 3rem;
  }
  .repoBox {
    font-size: 0.8rem;
  }
  .repoBox:hover {
    font-size: 1.2rem;
  }
}
